name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      CI: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build React.js app
        run: npm run build

      - name: Copy build files to container via SSH
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
        run: |
          echo " Setup SSH key"
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          echo " Copy files via SCP"
          scp -r -P 10200 -o StrictHostKeyChecking=no dist/* root@49.12.4.45:/html/
